@tailwind base;
@tailwind components;
@tailwind utilities;

.imageClass {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .imageClass {
    display: none;
  }
}

.BgImageClass {
  background-image: url("../images/office.jpg");
  background-repeat: no-repeat;
  object-fit: fill;
}
